<header>
  <div class="header__box">
    <%= link_to "", class: "header__box__logo" do %> 
      <%= image_tag '/image/logo_2575767_web.png', class: "header__box__logo--image", alt: 'タイトルロゴ' %>
    <% end %>
    <ul class="header__box__list">
      <li class="header__box__list__each">
        <%= link_to "", class: "icon-link" do %>
          <%= icon("fas", "list") + "投稿一覧" %>
        <% end %>
      </li>
      <li class="header__box__list__each">
        <%= link_to "", class: "icon-link" do %>
          <%= icon("fas", "edit") + "新規投稿" %>
        <% end %>
      </li>
      <li class="header__box__list__each">
        <%= link_to "", class: "icon-link" do %>
          <%= icon("fas", "user") + "ユーザー名" %>
        <% end %>
      </li>
    </ul>
    <%# 後でform_withにする %>
    <div class="form">
      <form action="#" method="GET" class="form__search">
        <input class="form__search--text" type="text" placeholder="募集検索">
        <input class="form__search--submit" type="submit" value="検索">
      </form>
    </div>
  </div>
</header>